.Try1{
    height: 260vh;
    /* border: 2px solid salmon; */
}
.Try2 h2{
  font-size: 60px;
  position: relative;
  text-align: center;
  padding-bottom: 3vh;
  margin-bottom: 4vh;
}
.Try2{
    /* border: 2px solid rebeccapurple; */
    width: 57%;
    margin-left: 20%;
    margin-top: 20vh;
    text-align: center;
    margin-bottom: 10vh;
    
}
.Try2 h2::after{
    content: '';
    position: absolute;
    left: 44%;
    bottom: -2px;
    width: 10%;
    height: 2px;
    background-color: blue;
}
.Try2 p{
    color: grey;
    margin-bottom: 5vh;
}
.Try2 a{
    background-color: rgba(0, 0, 255, 0.692);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.instant{
    /* border: 2px solid yellow; */
    display: flex;
    flex-wrap: wrap;
}
.instant1{
    height: 30vh;
    width: 50%;
    /* border: 2px solid palegoldenrod; */
    padding-left: 10vh;
    padding-right: 10vh;
}
.instant1 h4::before{
    content: '\2713';
    display: inline-block;
    color: blue;
    font-size: 30px;
    font-weight: 900;
    padding: 0 6px 0 0;
    
}
.instant1 h4{
    position: relative;
    font-size: 20px;
}