@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../public/Images/image_1.jpeg");
    background-size: cover;
    background-position: ;
  }
  